{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <table style="display: none">
        {{ view.formset.empty_form }}
    </table>

    <table>
        {{ view.formset }}
    </table>

    <span id="add-form" class="button">Add form</span>

    <input type="submit" />
</form>

{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script src="{% static 'autocomplete_light/select2.js' %}"></script>
{% endblock %}