@import 'normalize';
@import 'fonts';
@import 'colors';

html{
  background:$white;
  color:$dark;
}
a{
  text-decoration: none;
  color:$orange;
}

header{
  nav{
    display: flex;
    justify-content: center;
    a{
      margin:1em;
    }
  }
}

body{
  #content{
    margin: 5em;
    display:grid;
    text-align: left;
    color:green;
  }
}