{% extends 'main/base.html' %}

{% block content %}


<div id="workoutset-grid grid-detail">
<h1>{{ workoutset }}</h1>
{% for item in workoutset %}
    <span class="grid-key">Exercise</span><span>{{ workoutset.exercise }}</span>
    <span class="grid-key">Left Hold</span><span>{{ workoutset.left_hold }}</span>
    <span class="grid-key">Left Fingers</span><span>{{ workoutset.left_fingers }}</span>
    <span class="grid-key">Right Hold</span><span>{{ workoutset.right_hold }}</span>
    <span class="grid-key">Right Fingers</span><span>{{ workoutset.right_fingers }}</span>
    <span class="grid-key">Reps</span><span>{{ workoutset.reps }}</span>
    <span class="grid-key">Rest Between</span><span>{{ workoutset.rest_between }}</span>
    <span class="grid-key">Rest After</span><span>{{ workoutset.rest_after }}</span>
{% endfor %}
</div>

{% endblock %}