{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="author" content="Marek Schir">
        <meta name="description" content="{{ description }}">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <header>
        <nav>
            {% if user.is_authenticated %}
            <a href="{% url 'workout_list' username=user.username %}">Workouts</a>
            <a href="{% url 'profile_view' username=user.username %}">Profile</a>
            {% endif %}
        </nav>
        {% block header %}

        {% endblock %}
    </header>

    <body>

        {% block content %}

        {% endblock %}

    </body>

    <footer>

        {% block footer %}

        {% endblock %}

    </footer>

    {% block javascript %}

    {% endblock %}

</html>