{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="author" content="Marek Schir">
        <meta name="description" content="{{ description }}">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <header>
        <nav>
            <a href="{% url 'home' %}">hangboard.io</a>
            {% if user.is_authenticated %}
                <a href="{% url 'workout_list' username=user.username %}">Workouts</a>
                <a href="{% url 'profile' username=user.username %}">Profile</a>
                <a href="{% url 'preferences' username=user.username %}">Preferences</a>
                <a href="{% url 'measurements' username=user.username %}">Measurements</a>
                <a href="{% url 'account_logout' %}">Log Out</a>
            {% else %}
                <a href="{% provider_login_url "google" %}">Log In</a>
            {% endif %}
        </nav>
        {% block header %}

        {% endblock %}
    </header>

    <body>

        {% block content %}

        {% endblock %}

    </body>

    <footer>

        {% block footer %}

        {% endblock %}

    </footer>

    {% block javascript %}

    {% endblock %}

</html>